<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    <div class="containerabout">
        <img src="images/mypic.png" alt="">
        <p style="font-size: 2rem;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, error alias cum amet ad esse perferendis ratione! Ea incidunt fugiat itaque inventore consequatur, dolores laboriosam a perferendis maiores laudantium aliquid commodi reprehenderit quos deleniti ratione animi tempore minus necessitatibus eaque cupiditate cum! Temporibus, saepe cupiditate.
        </p>
    </div>
    {{>footer}}
</body>
</html>