<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   {{>navbar}}
   <div class="container">
    <div class="main">
        <div class="welcome">Welcome to weather app</div>
        <h1 class="pageheading">KNOW THE <span>WEATHER</span> CONDITION OF YOUR CITY <div class="other">OR ANY OTHER LOCATION </div></h1>
        <button><a href="/weather">know weather</a></button>
    </div>
   </div>
  {{>footer}}
</body>
</html>